//App Stage
#stage{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: url('../img/nebula-blue.jpg') no-repeat center;
}

//Control animation states
.main-block-open{
    bottom: -60px!important;
}

//Control Block
#block{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    padding-bottom: 62px; //50% for fully open
    z-index: 3;

    //Controls
    #controls{
        width: 100%;
        height: 60px;
        position: relative;
        border-top: 1px solid black;
        &:before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-top: 1px solid white;
            opacity: .1;
            z-index: 2;
        }

        .block{
            width: 40%;
            height: 60px;
            float: left;
            padding: 0 2.5%;
            position: relative;
            line-height: 60px;
            font-style: italic;
            text-transform: uppercase;
            border-bottom: 1px solid black;
            background: url('../img/gradient-black.png') repeat-x bottom left;
            &:before{
                content: '';
                width: 100%;
                height: 99.9%;
                position: absolute;
                top: 1px;
                left: 0;
                border-bottom: 1px solid white;
                opacity: .1;
                z-index: 3;
            }
        }
        .location{
            p{
                margin: 0;
                padding: 0;
                color: #ccc;
                font-size: 1.85em;
                font-weight: 100;
                font-style: italic;
            }
            ul.filter-options{
                position: relative;
                margin: 0;
                list-style: none;
                color: white;
                z-index: 4;
                li{
                    display: inline;
                    margin: 0 0 0 20px;
                    font-size: 1.25em;
                }
            }
        }
        .actions{
            width: 9.9%;
            height: 61px;
            float: left;
            position: relative;
            &:before,
            &:after{
                content: '';
                width: 100%;
                position: absolute;
                z-index: 3;
            }
            &:before{
                height: 100%;
                top: 1px;
                right: -1px;
                border-left: 1px solid white;
                opacity: .1;
            }
            &:after{
                height: 98%;
                top: 0;
                left: -1px;
                border-left: 1px solid black;
            }

            .button{
                width: 50%;
                height: 100%;
                float: left;
                position: relative;
                color: white;
                border: none;
                text-indent: -999em;

                -webkit-border-radius: 0;
                   -moz-border-radius: 0;
                        border-radius: 0;
                &:focus{
                    outline: none;
                }
                &:before,
                &:after{
                    content: '';
                    width: 100%;
                    height: 99%;
                    position: absolute;
                    z-index: 4;
                }
                &:before{
                    top: 1px;
                    left: -1px;
                    border-bottom: 1px solid white;
                    border-right: 1px solid white;
                    opacity: .1;
                }
                &:after{
                    top: 0;
                    left: 0;
                    background: url('../img/gradient-black.png') repeat-x bottom left;
                    border-bottom: 1px solid black;
                    border-right: 1px solid black;
                }
            }
            .active{
                border-bottom: none;
                &:before{
                    top: 1px;
                    left: -1px;
                    opacity: .8;
                    z-index: -1;
                    background: black;
                    border-right: none;
                    border-bottom: none;
                }
                &:after{
                    background: none;
                    border-bottom: none;
                }
            }
            .menu{
                background: url('../img/icon-menu.svg') no-repeat center;
            }
            .menu-exit{
                background: url('../img/icon-menu-exit.svg') no-repeat center !important;
            }
            .search{
                background: url('../img/icon-search.svg') no-repeat center;
            }
        }
        .data{
            color: #888;
            font-size: 1.25em;
            .menu-search{
                position: absolute;
                width: 90%;
                height: 100%;
                margin: 0;
                padding: 0 5%;
                top: 0;
                left: 0;
                color: #888;
                font-weight: 200;
                border: 0;
                background: none;
                z-index: 5;
                &:focus{
                    outline: none;
                }
            }
        }
    }

    #bottom{
        position: relative;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .8);
        overflow-y: scroll;
        .filters-sidebar{
            position: fixed;
            width: 300px;
            height: 100%;
            top: 60px;
            left: -380px;
            overflow: hidden;
            background: #070707;
            .top-title-block,
            .top-gear-block{
                height: 100px;
                float: left;
                font-weight: 100;
                line-height: 100px;
            }
            .top-gear-block{
                width: 100px;
                color: #070707;
                font-size: 3.5em;
                text-align: center;
                background: #2c4f63;
                i{
                    text-shadow: 1px 1px 1px #49616b;
                }
            }
            .top-title-block{
                width: 200px;
                background: #1a1a1a;
            }
            .fliter-options{
                padding: 20px;
                border-top: 1px solid #222;
            }
            h2{
                display: inline-block;
                margin-left: 30px;
                color: #ccc;
                font-size: 2em;
                line-height: 30px;
                font-weight: 300;
                vertical-align: middle;
                // text-shadow: 1px 1px 1px #333;
            }
            h3{
                margin: 30px 0;
                color: #59839B;
                font-size: 2.5em;
                font-weight: 400;
                text-align: left;
                line-height: normal;
            }
            .item-type{
                display: block;
                width: 100%;
                margin-bottom: 15px;
                color: #ccc;
                font-size: 1.35em;
                font-style: italic;
            }
            i{
                margin-right: 10px;
            }
            .item{
                // color: white;
                padding: 30px 0 0 0;
                // border-bottom: 1px solid #111;
            }
            .option{
                width: 100%;
                margin-bottom: 10px;
            }
            .range-slider{
                margin: 5px 0 15px 0;
            }
            .left{
                display: inline-block;
                height: 20px;
                margin-left: 4px;
                padding-left: 10px;
                float: left;
                color: #999;
                text-align: left;
                border-left: 2px solid #999;
                vertical-align: middle;
            }
            // .left, .right{
            //     width: 48px;
            //     color: #ccc;
            //     font-weight: 400;
            //     line-height: 20px;
            // }
            // .left{
            //     float: left;
            //     padding-left: 10px;
            //     border-left: 1px solid #ccc;
            // }
            // .right{
            //     float: right;
            //     padding-right: 10px;
            //     text-align: right;
            //     border-right: 1px solid #ccc;
            // }
            .noUi-base{
                width: 220px;
                height: 4px;
                margin-left: 5px;
                box-shadow: none;
            }
            .noUi-origin{
                background: #2c4f63;
            }
            .noUi-handle{
                width: 13px;
                height: 13px;
                top: -5px;
                left: -6px;
                border-radius: 50%;
            }
            .clear-filter-options{
                margin-top: 15px;
                padding: 0 20px;
                color: #070707;
                line-height: 40px;
                background: #2c4f63;
                border: 0;
                border-top: 1px solid #49616b;
                text-shadow: 1px 1px 1px #49616b;
                border-radius: 2px;
            }
        }
        .filters-sidebar-open{
            @include translate3d(380px,0,0);
        }
        .system{
            display: inline-bock;
            width: 220px;
            height: 220px;
            margin: 40px 0 0 40px;
            float: left;
            .render{
                width: 183px;
                height: 183px;
                margin: 0 auto;
            }
            .planet-count{
                width: 30px;
                height: 30px;
                color: black;
                text-align: center;
                border-radius: 50%;
                line-height: 30px;
                background: #222;
                text-shadow: 1px 1px 1px #333;
                border: 2px solid #2c4f63;
            }

            .white-star { background: url('../img/stars.png') no-repeat  -19px   -11px;  }
            .yellow-star{ background: url('../img/stars.png') no-repeat  -239px  -13px;  }
            .blue-star  { background: url('../img/stars.png') no-repeat  -19px   -213px; }
            .orange-star{ background: url('../img/stars.png') no-repeat  -239px  -211px; }
            .red-star   { background: url('../img/stars.png') no-repeat  -19px   -411px; }

            span{
                display: block;
                width: 100%;
                height: 20px;
                font-size: 1.15em;
                color: #ccc;
                font-weight: 300;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
}