@import "compass/css3/transition";

/* When repeating an element */
.system.ng-enter {
    @include transition(opacity 300ms linear);
}

// Fade
.system.ng-enter,
.system.ng-leave.ng-leave-active {
  opacity:0;
}
.system.ng-leave,
.system.ng-enter.ng-enter-active {
  opacity:1;
}



/* When hiding an element */
.systemsBlock.ng-hide-add {
  @include single-transition(opacity 300ms ease-in-out);

  opacity:1;
}
.systemsBlock.ng-hide-add.ng-hide-add-active {
  opacity:0;
}

/* When showing an element */
.systemsBlock.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;

  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
  opacity:0;
}
.systemsBlock,
.systemsBlock.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

//EaseInOut
.ease-in-out{
  -webkit-transition: all 300ms cubic-bezier(0.980, 0.020, 0.000, 0.900);
     -moz-transition: all 300ms cubic-bezier(0.980, 0.020, 0.000, 0.900);
      -ms-transition: all 300ms cubic-bezier(0.980, 0.020, 0.000, 0.900);
       -o-transition: all 300ms cubic-bezier(0.980, 0.020, 0.000, 0.900);
          transition: all 300ms cubic-bezier(0.980, 0.020, 0.000, 0.900);
}