body,
html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font: normal 13px/18px 'Source Sans Pro', sans-serif;
	overflow: hidden;
}

//App Stage
#stage{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background: url('../img/nebula-blue.jpg') no-repeat center;
}

//Control block animation states
.open{
	bottom: -60px!important;
}

//Control Block
#block{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -60px;
	left: 0;
	padding-bottom: 62px; //50% for fully open
	z-index: 3;

	//EaseInOut
	-webkit-transition: all 300ms cubic-bezier(0.980, 0.020, 0.000, 0.900);
	   -moz-transition: all 300ms cubic-bezier(0.980, 0.020, 0.000, 0.900);
	    -ms-transition: all 300ms cubic-bezier(0.980, 0.020, 0.000, 0.900);
	     -o-transition: all 300ms cubic-bezier(0.980, 0.020, 0.000, 0.900);
	        transition: all 300ms cubic-bezier(0.980, 0.020, 0.000, 0.900);

	//Controls
	#controls{
		width: 100%;
		height: 60px;
		position: relative;
		border-top: 1px solid black;
		&:before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-top: 1px solid white;
			opacity: .1;
			z-index: 2;
		}

		.block{
			width: 40%;
			height: 60px;
			float: left;
			padding: 0 2.5%;
			position: relative;
			line-height: 60px;
			font-style: italic;
			text-transform: uppercase;
			border-bottom: 1px solid black;
			background: url('../img/gradient-black.png') repeat-x bottom left;
			&:before{
				content: '';
				width: 100%;
				height: 99.9%;
				position: absolute;
				top: 1px;
				left: 0;
				border-bottom: 1px solid white;
				opacity: .1;
				z-index: 3;
			}
		}
		.location{
			p{
				margin: 0;
				padding: 0;
				color: #ccc;
				font-size: 1.85em;
				font-weight: 100;
				font-style: italic;
			}
		}
		.actions{
			width: 9.9%;
			height: 61px;
			float: left;
			position: relative;
			&:before,
			&:after{
				content: '';
				width: 100%;
				position: absolute;
				z-index: 3;
			}
			&:before{
				height: 100%;
				top: 1px;
				right: -1px;
				border-left: 1px solid white;
				opacity: .1;
			}
			&:after{
				height: 98%;
				top: 0;
				left: -1px;
				border-left: 1px solid black;
			}

			.button{
				width: 50%;
				height: 100%;
				float: left;
				position: relative;
				color: white;
				border: none;
				text-indent: -999em;

				-webkit-border-radius: 0;
				   -moz-border-radius: 0;
					    border-radius: 0;
				&:focus{
					outline: none;
				}
				&:before,
				&:after{
					content: '';
					width: 100%;
					height: 99%;
					position: absolute;
					z-index: 4;
				}
				&:before{
					top: 1px;
					left: -1px;
					border-bottom: 1px solid white;
					border-right: 1px solid white;
					opacity: .1;
				}
				&:after{
					top: 0;
					left: 0;
					background: url('../img/gradient-black.png') repeat-x bottom left;
					border-bottom: 1px solid black;
					border-right: 1px solid black;
				}
			}
			.active{
				border-bottom: none;
				&:before{
					border-bottom: none;
				}
				&:after{
					background: 0;
					border-bottom: none;
				}
			}
			.menu{
				background: url('../img/icon-menu.svg') no-repeat center;
			}
			.menu-exit{
				background: url('../img/icon-menu-exit.svg') no-repeat center !important;
			}
			.search{
				background: url('../img/icon-search.svg') no-repeat center;
			}
		}
		.data{
			color: #888;
			font-size: 1.25em;
			.menu-search{
				position: absolute;
				width: 90%;
				height: 100%;
				margin: 0;
				padding: 0 5%;
				top: 0;
				left: 0;
				color: #888;
				font-weight: 200;
				border: 0;
				background: none;
				z-index: 5;
				&:focus{
					outline: none;
				}
			}
		}
	}

	#bottom{
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .5);
		overflow-y: scroll;
		.system{
			display: inline-bock;
			width: 220px;
			height: 220px;
			margin: 40px 0 0 40px;
			float: left;
			.render{
				width: 100%;
				height: 200px;
				background: red;
			}
			span{
				display: block;
				width: 100%;
				height: 20px;
				font-size: 1.15em;
				color: #ccc;
				font-weight: 300;
				text-transform: uppercase;
				text-align: center;
			}
		}
	}
}