<!-- Stage -->
<div id="stage">
</div><!-- END: Stage -->

<!-- Nav Bar -->
<div id="block" ng-class="{'open': menuState}">
    <header id="controls">
        <div class="location block">
            <p ng-hide="menuState"><strong>MILKY WAY /</strong> THE SUN / PLANETS</p>
            <p ng-show="menuState">Filter shit go here</p>
        </div>
        <nav class="actions">
            <button ng-class="{'menu-exit': menuState}" class="menu button active" ng-click="toggleMenu()">X</button>
            <button class="search button">Os</button>
        </nav>
        <div class="data block">
            <small ng-hide="menuState">mass: 1.18sol</small>
            <input ng-show="menuState" class="menu-search" type="text" placeholder="Search..." ng-model="query" debounce-model-update="300ms">
        </div>
    </header>
    <section id="bottom" class="systemsBlock">
        <div class="system" style="transition-delay: {{ $index * 15 }}ms" ng-repeat="system in filteredSystems | orderBy: 'num_planets': true | filter:query | limitTo: 50">
            <div class="render {{system.styleClassName}}">
                {{ system.num_planets }}
            </div>
            <span>{{ system.name }}</span>
            <span>{{ system.num_planets }}</span>
        </div>
        <input type="number" ng-model="filters.distance.maxVal" debounce-model-update="700ms">
        <input type="number" ng-model="filters.num_planets.minVal" debounce-model-update="700ms">
    </div>
</div><!-- END: Nav Bar -->