<!-- Stage -->
<div id="stage">
</div><!-- END: Stage -->

<!-- Nav Bar -->
<div id="block" ng-class="{'open': menuState}">
    <header id="controls">
        <div class="location block">
            <p ng-hide="menuState"><strong>MILKY WAY /</strong> THE SUN / PLANETS</p>
            <p ng-show="menuState">Filter shit go here</p>
        </div>
        <nav class="actions">
            <button ng-class="{'menu-exit': menuState}" class="menu button active" ng-click="toggleMenu()">X</button>
            <button class="search button">Os</button>
        </nav>
        <div class="data block">
            <small ng-hide="menuState">mass: 1.18sol</small>
            <input ng-show="menuState" class="menu-search" type="text" placeholder="Search..." ng-model="query">
        </div>
    </header>
    <section id="bottom">
        <div class="system" ng-repeat="system in systems | orderBy: 'num_planets': true | limitTo: 10 | filter:query">
            <div class="render">
                {{ system.num_planets }}
            </div>
            <span>{{ system.name }}</span>
        </div>
    </div>
</div><!-- END: Nav Bar -->