Stage -->
<div id="stage">
</div><!-- END: Stage -->

<!-- Nav Bar -->
<div id="block" class="ease-in-out" ng-class="{'main-block-open': menuState}">

    <header id="controls">
        <div class="location block">
            <p ng-hide="menuState"><strong>MILKY WAY /</strong> THE SUN / PLANETS</p>
            <ul class="filter-options" ng-show="menuState">
                <li><button class="search button" ng-click="toggleSidebar()">More Options</button></li>
                <li>Earthyness</li>
                <li>Distance</li>
            </ul>
        </div>
        <nav class="actions">
            <button ng-class="{'menu-exit': menuState}" class="menu button active" ng-click="toggleMenu()">X</button>
            <button class="search button">Os</button>
        </nav>
        <div class="data block">
            <small ng-hide="menuState">mass: 1.18sol</small>
            <input ng-show="menuState" class="menu-search" type="text" placeholder="Search..." ng-model="query" debounce-model-update="300ms">
        </div>
    </header>

    <section id="bottom" class="systemsBlock" ng-show="menuState">
        <div class="system" style="transition-delay: {{ $index * 15 }}ms" ng-repeat="system in filteredSystems | orderBy: 'num_planets': true | filter:query | limitTo: 50">
            <div class="render {{system.styleClassName}}">
                <div class="planet-count">
                    {{ system.num_planets }}
                </div>
            </div>
            <span>{{ system.name }}</span>
        </div>
        <!-- Filters Sidebar -->
        <div class="filters-sidebar ease-in-out" ng-class="{'filters-sidebar-open': sidebarState}">
            <!-- Sidebar Header -->
            <div class="cf">
                <div class="top-gear-block">
                    <i class="fa fa-gears"></i>
                </div>
                <div class="top-title-block">
                    <h2>FILTER<br />SYSTEMS</h2>
                </div>
            </div>
            <!-- Filters Container -->
            <div class="fliter-options cf">
                <!-- Filter Item -->
                <div class="item">
                    <div class="item-type"><i class="fa fa-rocket"></i>DISTANCE</div>
                    <div class="option cf">
                        <div class="range-slider" noUiSlider start-min="filters.distance.minVal" start-max="filters.distance.maxVal" range-min="0" range-max="filters.distance.cap"></div>
                        <span class="left">{{ filters.distance.minVal }} - {{ filters.distance.maxVal }}</span>
                    </div>
                </div>

                <div class="item">
                    <div class="item-type"><i class="fa fa-male"></i>SIZE</div>
                    <div class="option cf">
                        <div class="range-slider" noUiSlider start-min="filters.ra.minVal" start-max="filters.ra.maxVal" range-min="0" range-max="filters.ra.cap"></div>
                        <span class="left">{{ filters.ra.minVal }} - {{ filters.ra.maxVal }}</span>
                    </div>
                </div>

                <!-- <div class="item">
                    <div class="item-type"><i class="fa fa-fire"></i>TEMPERATURE</div>
                    <div class="option cf">
                        <span class="left">COLD</span>
                        <input type="range" min="{{ filters.num_planets.minVal }}" max="{{ filters.num_planets.maxVal }}" ng-model="filters.distance.maxVal" debounce-model-update="700ms">
                    </div>
                </div> -->

                <div class="item">
                    <div class="item-type"><i class="fa fa-globe"></i>NUMBER OF PLANETS</div>
                    <div class="option cf">
                        <div class="range-slider" noUiSlider start-min="filters.num_planets.minVal" start-max="filters.num_planets.maxVal" range-min="0" range-max="filters.num_planets.cap"></div>
                        <span class="left">{{ filters.num_planets.minVal }} - {{ filters.num_planets.maxVal }}</span>
                    </div>
                </div>

                <!-- <div class="item">
                    <div class="item-type"><i class="fa fa-sun-o"></i>NUMBER OF STARS</div>
                    <div class="option cf">
                        <select ng-model="filters.num_stars.val" ng-options="stars.val for stars in numStars">
                            <option value=""></option>
                        </select>
                    </div>
                </div> -->

                <button class="clear-filter-options" ng-click="clearFilters()"><i class="fa fa-refresh"></i>CLEAR FILTERS</button>
            </div>
        </div>
    </div>
</div><!-- END: Nav Bar